.wrapper {
    display: flex;
    flex-direction: column;
    .graph {

        margin: auto;
        width: 400px;
        height: 400px;
        padding-bottom:100px;
    }

    .btn {
        button {
            margin: 15px;
            padding: 10px;
            border-radius: 4px;
            color: rgb(1, 148, 111);
            cursor: pointer;
            border: 2px solid rgb(1, 148, 111);
            background-color: rgb(218, 218, 218);
            transition: all 0.2s ease-in-out;

            &:hover {
                transform: scale(1.1);

            }

            &.active {
                background-color: white;
                transform: scale(0.9);
            }
        }

    }
    .day{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        font-size: 30px;
        color: white;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        p{
            margin: 0 10px;
            width: 50px;
            height: 50px;
            line-height: 50px;
            background-color:rgb(1, 148, 111);
            border-radius: 50%;
            
        }
        .hide{
            display: none;
        }

        div{
            width: 100%;
            height: auto;
            padding: 15px 0;
            font-size: 15px;
         p{
            background-color:rgb(1, 148, 111);
            border-radius: 50%;
            width: 30%;
            height: auto;
            border-radius: 4px;
            margin: 10px auto;
         }
         .hide{
             display: none;
         }
        }
    }
}

@media screen and (max-width: 767px)  {
    .wrapper{
        .graph{
            width: 90%;
            height: 300px;
        }
        .day{
            font-size: 20px;
            p{
                width: 40px;
                height: 40px;
                line-height: 40px;
            }
            div{
                padding: 15px 0;
                display: flex;
                flex-direction: row;
                font-size: 12px;
                p{
                    margin: 0 auto;
                }
            }
        }
    }
}